@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body * {
    visibility: hidden;
  }
  [data-print-root],
  [data-print-root] * {
    visibility: visible;
  }
  [data-print-root] {
    position: absolute;
    inset: 0;
    padding: 1cm;
  }
}
